@use "../modules" as *;

.chat {
    height: 670px;
    background-color: white;
    display: grid;
    margin-inline: auto;
    align-items: start;
    align-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    // justify-items: center;
    width: min(100%, px(500));
}

textarea {
    width: 90%;
    height: 50px;
    border-radius: 0.5em;
    resize: none;
}

input[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 8px 12px;
    border-radius: 0.5em;
}

.chat-messages {
    width: 45%;
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: rgba(0, 150, 150, 0.8);
    margin-bottom: 0.8em;
    float: left;
    clear: both;
}

.other-messages {
    background-color: rgba(150, 107, 0, 0.8);
    float: right;
}
